.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 103px;
  background-color: #373B53;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 5;
}

.side-bar__user-img-wrapper,
.side-bar__user-img-wrapper--brat {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 24px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 103px;
    height: 1px;
    top: -24px;
    left: -32px;
    background-color: #494E6E;
  }

  &--brat {
    padding: 0;
  }
}

.side-bar__top-img {
  width: 100%
}

.side-bar__user-img {
  max-width: 20px;
  margin: 0;
  // text-align: center;
  // display: inline-block;
}

@media only screen and (max-width: 1000px) {
  .side-bar {
    max-width: 90px;
  }

  .side-bar__user-img-wrapper,
  .side-bar__user-img-wrapper--brat {
    &::before {
      width: 96px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .side-bar {
    right: 0;
    bottom: auto;
    max-width: 100%;
    flex-direction: row;
    border-radius: 0px;
    align-items: center;
  }

  .side-bar__user-img-wrapper,
  .side-bar__user-img-wrapper--brat {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    margin: 0px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;


    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 80px;
      top: -20px;
      left: -32px;
      background-color: #494E6E;
    }

    &--brat {
      padding: 0;
    }
  }

  .side-bar__top-img {
    width: 80px
  }
}

@media only screen and (max-width: 440px) {
  .side-bar__top-img {
    width: 70px
  }

  .side-bar__user-img-wrapper,
  .side-bar__user-img-wrapper--brat {
    margin-right: 24px;
    &::before {
      height: 75px;
      top: -20px;
      left: -24px;
    }
  }
}