.login--container{
  max-width: 631px;
  margin: 100px auto;
  padding: 44px 57px 36px;
  display: block;
}

.login__title{
  margin: 0;
  margin-bottom: 35px;
}

.login__button{
  padding: 17px 24px;
  margin-left: auto;
}