.button{
  padding: 8px 15px 8px 8px;
  border: none;
  background: #7C5DFA;
  border-radius: 24px;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  transition: 0.3s ease all;
  line-height: 15px;
  vertical-align: top;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  &:hover{
    opacity: 0.7;
  }
}



.button__text{
  display: inline-block;
}