.invoices-item {
  margin-bottom: 16px;
  border: #FFFFFF solid 1px;
  transition: 0.3s ease all;
  border-radius: 9px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  & * {
    text-decoration: none;
  }

  &:hover {
    border: #7C5DFA solid 1px;
    transform: scale(1.1);
  }

  &::after {
    content: '';
    position: absolute;
    background: url("../../assets/icons/arrow.svg") no-repeat center center;
    background-size: cover;
    width: 8px;
    height: 12px;
    right: 24px;
    top: 30px;
  }
}

.invoices-item__info-wrapper {
  display: flex;
  align-items: center;
  gap: 44px;
}

.invoices-item__id {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #0C0E16;
}

.invoices-item__id-span {
  color: #7E88C3
}

.invoices-item__due-date {
  margin: 0;
  color: #7E88C3;
}

.invoices-item__due {
  color: #888EB0;
  margin-right: 4px;
}

.invoices-item__to {
  margin: 0;
  color: #858BB2;
  line-height: 15px;
}

.invoices-item__money-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 20px;
}

.invoice-item__money {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #0C0E16;
}

@media only screen and (max-width: 922px) {
  .invoices-item {
    width: 600px;

    &::after {
      right: 20px;
      top: 24px;
    }
  }

  .invoice-item__content-wrapper {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .invoices-item {
    width: 100%;

    &:hover {
      transform: scale(1.02);
    }
  }

}

@media only screen and (max-width: 730px) {
  .invoices-item__info-wrapper {
    gap: 30px
  }

  .invoice-item__content-wrapper {
    padding: 10px 20px;
    padding-left: 30px;
  }

  .invoices-item__money-wrapper {
    gap: 20px;
  }

  .invoices-item__info-wrapper {
    gap: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .invoices-item__info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .invoices-item__money-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .invoices-item {
    &::after {
      right: 20px;
      top: 46px;
    }
  }
}