.no-invoice {
  max-width: 242px;
  text-align: center;
  margin: 0 auto;
  margin-top: 140px;
}

.no-invoice__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
}

.no-invoice__text {
  margin: 0;
  color:  #888EB0;
  font-size: 15px;
}