.add-invoice--content {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 631px;
  padding: 51px 56px 32px;
}

.invoice-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-invoice__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
}

.add-invoice__add-btn {
  padding: 16px 24px;
}

.add-invoice__discard-btn {
  padding: 16px 24px;
  color: #7E88C3;
  background: #F9FAFE;
  text-decoration: none;
}

.add-invoice__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-invoice__go-back {
  margin-left: 50px;
}

@media only screen and (max-width: 870px) {
  .add-invoice--content {
    margin-left: 100px;
  }

  .add-invoice__go-back {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .add-invoice--content {
    margin: 0 auto;
  }

  .add-invoice__go-back {
    margin-left: 20px;
    margin-top: 100px;
  }

  .add-invoice{
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 670px) {
  .add-invoice--content {
    padding: 30px 20px;
    width: 500px;
  }

  .add-invoice__go-back {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .add-invoice--content {
    padding: 30px 20px;
    width: 350px;
  }

  .add-invoice__go-back {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 450px) {
  .add-invoice__go-back {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .add-invoice__title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .add-invoice--content {
    padding: 30px 20px;
    width: 300px;
  }

  
}
