.site-header__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}

.site-header__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-header__title-img {
  max-width: 135px;
}

.site-header__invoice-length {
  margin: 0;
  line-height: 1.25;
  color: #888EB0;
  margin-top: 8px;
  letter-spacing: 0.5px;
}

.site-header__filter-btn-wrapper {
  display: flex;
  align-items: center;
}



.site-header__select {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 40px; 
  font-weight: 700;
}

.site-header__option {
  border: none;
  background-color: transparent;
}

.site-header__button {
  text-decoration: none;

  &::before {
    content: '';
    padding: 10px;
    background: url(../../assets/icons/plus.svg) no-repeat center center;
    background-size: 10px 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 440px) {
  .site-header__button {
    padding: 5px 10px 5px 5px;
  }

  .site-header__invoice-length-span,
  .site-header__button-span{
    display: none;
  }

  .site-header__title-img {
    max-width: 84px;
  }
}

@media only screen and (max-width: 350px) {
  .site-header__select {
    margin-right: 20px;
  }
}