.view-page {
  margin-bottom: 100px;
}

.view-page--status-content-wrapper {
  padding: 20px 32px;
}

.view-page__status-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.view-page__status {
  margin: 0;
  color: #858BB2;
}

.view-page__buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.view-page--edit-btn {
  padding: 17px 24px;
  background-color: #F9FAFE;
  color: #7E88C3;
}

.view-page--delete-btn {
  padding: 17px 24px;
  background-color: #EC5757;
}

.view-page--mark-btn {
  padding: 17px 24px;
}

.view-page--invoice-wrapper {
  margin-top: 26px;
  padding: 51px 48px 48px;
}

.view-page__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.view-page__item {
  outline: none;

  &:first-child {
    margin-bottom: 50px;
  }

  &:last-child {
    margin-top: 32px;
  }

  &--id,
  &--payment {
    width: 100%;
  }
}

.view-page__item-title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  margin-top: 12px;

  &--id {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12px;
  }
}

.view-page__item-label {
  margin: 0;
  line-height: 15px;
  color: #7E88C3;

  &:first-child {
    margin-bottom: 0;
  }
}

.view-page__money-amount {
  margin: 0;
  color: #FFFFFF;
  line-height: 18px
}

.view-page__money {
  margin: 0;
  color: #FFFFFF;
  font-size: 24px;
}

.view-page--money-wrapper {
  background-color: #373B53;
  flex-grow: 1;
  padding: 24px 32px;
  margin-top: 50px;
}